/**
  * pls ignore @font-faces, they r used for font purposes lol
  */

@font-face {
  font-family: "ClashGrotesk-Variable";
  src: url("/media/WEB/fonts/ClashGrotesk-Variable.woff2") format("woff2"),
    url("/media/WEB/fonts/ClashGrotesk-Variable.woff") format("woff"),
    url("/media/WEB/fonts/ClashGrotesk-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/**
  * start styles
  */

html,
body {
  background-image: url(/media/gaussian.png);
  font-family: "Inter", sans-serif !important;
  background-repeat: no-repeat;
  background-image: cover;
}

.fitlogo {
  width: 10rem;
  height: 10rem;
  margin-left: 6rem !important;
  margin-top: 5rem !important;
}

.welcomepage {
  font-family: "ClashGrotesk-Variable" !important;
  color: white;
  margin-left: 6rem;
  margin-top: 3rem;
}

.FAQs {
  border-radius: 138px 10px 10px 138px !important;
  width: 6rem;
  height: 3 rem !important;
}

.Visits {
  border-radius: 10px 138px 138px 10px !important;
  width: 8rem;
  height: 3 rem !important;
}

.gogo {
  border-radius: 10px 138px 138px 10px !important;
  margin-left: 10rem;
  height: 3 rem !important;
}

.groupbuttons {
  margin-left: 6rem;
  margin-top: 7rem;
}

h5 {
  font-family: "ClashGrotesk-Variable";
  font-size: 1.6rem !important;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: medium;
}

.card {
  position: relative;
  border-radius: 44px !important;
  width: 60% !important;
  box-shadow: 0px 0px 53.6px 0px rgba(0, 0, 0, 0.25) !important;
  background-color: #fefbff;
}

.button-container {
  position: absolute;
  bottom: 30px;
  right: 36px;
}

.signup {
  border-radius: 37px;
  background: #0075ff !important;
}

.material-symbols-outlined {
  font-size: 2.8rem !important;
  margin-bottom: 1rem;
}

.contents {
  margin-top: 5.4rem;
  margin-left: -3rem;
}

.half {
  margin-top: 2rem;
  margin-left: 3rem;
}

.idlogo {
  margin-left: -0.5rem !important;
  width: 8rem;
  height: 8rem;
}

.dark-background {
  background-color: #171717;
  color: white;
  border-radius: 44px 0px 0px 44px;
}

.light-background {
  background-color: white;
  border-radius: 0px 44px 44px 0px;
}

.image-container {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.svgs,
.requirements {
  width: 80%;
  margin-bottom: 1rem;
}

.requirements {
  margin-bottom: 6rem !important;
}

.backback {
  border-radius: 37px;
}

.gotit {
  border-radius: 37px;
  color: white;
}

.reqbuttons {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.twotone {
  position: relative;
  border-radius: 44px !important;
  width: 60% !important;
  box-shadow: 0px 0px 53.6px 0px rgba(0, 0, 0, 0.25) !important;
  background-color: #fefbff00 !important;
}

.form-check {
  margin-bottom: 5rem;
}

.done {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}

.successcard {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

.resultline {
  width: 60%;
}

.search {
  margin-top: 4rem;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.fingera {
  background-color: white;
  border-radius: 0px 44px 44px 0px;
}
